<!DOCTYPE html>
<html lang="uk">
<head>
   <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/gear.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сервер Gearfront</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href =" {{ url_for('static', filename='style.css') }}">

</head>


<body>

  <img src="{{ url_for('static', filename='assets/gear.png') }}" alt="Логотип Gearfront" class="logo wobble">
  <h1>Ласкаво просимо на сервер Gearfront</h1>
  <p>Унікальний досвід Minecraft, якого ти не знайдеш ніде!</p>

  <div>
    <a href="https://github.com/MiraDiv-git/GearfrontWebsite" target="_blank">
      <button class="button">GitHub проєкту</button>
    </a>
    <a href="https://github.com/MiraDiv-git/GearfrontClient/releases/download/v0.1.3a/GearfrontClient_v0.1.3a.zip" target="_blank">

      <button class="button">Завантажити клієнт</button>
    </a>
    <a href="https://discord.gg/7BU5DDtXaa" target="_blank">
      <button class="button">Discord проєкту</button>
    </a>
  </div>

  <div class="section">
    <h2>Чому Gearfront?</h2>
    <p>
      Унікальні механіки та предмети<br>
      Власний лаунчер та модифікації<br>
      Постійно оновлюваний контент та івенти<br>
      Дружня спільнота та чуйна адміністрація
    </p>
  </div>



  <div class="footer">
  Create by <a href="https://github.com/EgorStalker" target="_blank">EgorStalker</a>
</div>
<script>
  document.querySelectorAll('.button').forEach(btn => {
    btn.addEventListener('click', () => {
      btn.classList.add('clicked');
      setTimeout(() => btn.classList.remove('clicked'), 150);
    });
  });
</script>
<script>
  window.addEventListener('load', () => {
    const logo = document.querySelector('.logo');
    setTimeout(() => {
      logo.classList.add('wobble');
    }, 2000); // після spinIn (2 секунди)
  });
</script>


</body>
</html>
